/*InstructionPage_Style.css*/
#instructionTitle
{
    font-family: "Arial", "Times New Roman", "AR BLANCA";
    word-wrap: break-word;
    word-break: break-all;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: white;
}
#instructionText
{
    font-family: "Arial", "Times New Roman", "AR BLANCA";
    word-wrap: break-word;
    word-break: break-all;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    color: white;
}