/**
 * @author Grotion <grotion0720@gmail.com>
 * © 2020 Grotion All Rights Reserved
 */
/*ScorePage_Style.css*/
#scoreBox
{
    font-family: "標楷體", "Adobe 黑体 Std R", "Times New Roman";
    font-size: 35px;
    text-align: center;
    word-wrap: break-word;
    word-break: normal;
    font-weight: bold;
    color: white;
}
#pass
{
    font-family: "標楷體", "Adobe 黑体 Std R", "Times New Roman";
    font-size: 50px;
    text-align: center;
    word-wrap: break-word;
    word-break: normal;
    font-weight: bold;
}